.info-places-container {
    margin: 4em 2em 0 2em;
    display: flex;
    flex-wrap: wrap;

    display:-ms-flexbox;
    -ms-flex-wrap: wrap;
}

.info-places {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 30em;

    display: -ms-flexbox;
    -ms-flex-item-align: center;
    -ms-flex-wrap: wrap;
    -ms-flex: 1 1 30em;
}

.info-places__image {
    padding: 1em;
}

.info-places__image img {
    border-radius: 6em;
    border: solid 6px #90909040;
}

.info-places__text {
    display: flex;
    flex-direction: column;
    flex: 1 1 14em;
    padding: 1em;

    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex: 1 1 14em;
}

.info-places__text p {
    padding-top: 1em;
}

.side--right {
    flex-direction: row-reverse;
    text-align: right;

    -ms-flex-direction: row-reverse;
}

@media (max-width: 570px) {
   
    .info-places-container {
        margin: 0;
    }

}

@media (max-width: 500px) {
    .info-places {
        text-align: center;
    }
}
